<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Trip</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="StartPoint">Starting Point</label>
                    <input type="text" class="form-control" id="startPoint" name="StartPoint" placeholder="Location name">
                </div>
                <div class="form-group">
                    <label for="EndPoint">End Point</label>
                    <input type="text" class="form-control" id="EndPoint" name="EndPoint" placeholder="Location name">
                </div>
                <div class="form-group">
                    <label for="DepartureTime">Departure Time</label>
                    <input type="text" class="form-control" id="DepartureTime" name="DepartureTime" placeholder="dd.MM.yyyy HH:mm">
                </div>
                <div class="form-group">
                    <label for="ImagePath">Car Image</label>
                    <input type="text" class="form-control" id="ImagePath" name="ImagePath" placeholder="https://...">
                </div>
                <div class="form-group">
                    <label for="Seats">Seats</label>
                    <input type="text" class="form-control" id="Seats" name="Seats" placeholder="Number of free seats">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" class="form-control" id="Description" name="Description" placeholder="...">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>